* text=auto !eol
/GPLV3_S15_16_STFCamendment14V1_Jan2008.doc -text svneol=unset#application/msword
/lgpl-3.0.txt svneol=native#text/plain
lib/src/binsort.h svneol=native#text/plain
lib/src/binsortint.c svneol=native#text/plain
lib/src/ccp4_diskio_f.c svneol=native#text/plain
lib/src/ccp4_fortran.h svneol=native#text/plain
lib/src/ccp4_general.c svneol=native#text/plain
lib/src/ccp4_general.h svneol=native#text/plain
lib/src/ccp4_general_f.c svneol=native#text/plain
lib/src/ccp4_parser_f.c svneol=native#text/plain
lib/src/ccp4_program.c svneol=native#text/plain
lib/src/ccp4_program.h svneol=native#text/plain
lib/src/ccp4_unitcell_f.c svneol=native#text/plain
lib/src/ccplib.f -text
lib/src/cmap_accessor.c svneol=native#text/plain
lib/src/cmap_close.c svneol=native#text/plain
lib/src/cmap_data.c svneol=native#text/plain
lib/src/cmap_data.h svneol=native#text/plain
lib/src/cmap_errno.h svneol=native#text/plain
lib/src/cmap_header.c svneol=native#text/plain
lib/src/cmap_header.h svneol=native#text/plain
lib/src/cmap_labels.c svneol=native#text/plain
lib/src/cmap_labels.h svneol=native#text/plain
lib/src/cmap_open.c svneol=native#text/plain
lib/src/cmap_skew.c svneol=native#text/plain
lib/src/cmap_skew.h svneol=native#text/plain
lib/src/cmap_stats.c svneol=native#text/plain
lib/src/cmap_stats.h svneol=native#text/plain
lib/src/cmap_symop.c svneol=native#text/plain
lib/src/cmaplib.h svneol=native#text/plain
lib/src/cmaplib_f.c svneol=native#text/plain
lib/src/cmaplib_f.h svneol=native#text/plain
lib/src/cmtzlib_f.c svneol=native#text/plain
lib/src/csymlib_f.c svneol=native#text/plain
lib/src/fftlib.f -text
lib/src/keyparse.f -text
lib/src/libhtml.f -text
lib/src/library_f.c svneol=native#text/plain
lib/src/library_f.h svneol=native#text/plain
lib/src/mmdb/README svneol=native#text/plain
lib/src/mmdb/bfgs_min.cpp svneol=native#text/plain
lib/src/mmdb/bfgs_min.h svneol=native#text/plain
lib/src/mmdb/file_.cpp svneol=native#text/plain
lib/src/mmdb/file_.h svneol=native#text/plain
lib/src/mmdb/hybrid_36.cpp svneol=native#text/plain
lib/src/mmdb/hybrid_36.h svneol=native#text/plain
lib/src/mmdb/linalg_.cpp svneol=native#text/plain
lib/src/mmdb/linalg_.h svneol=native#text/plain
lib/src/mmdb/machine_.cpp svneol=native#text/plain
lib/src/mmdb/machine_.h svneol=native#text/plain
lib/src/mmdb/math_.cpp svneol=native#text/plain
lib/src/mmdb/math_.h svneol=native#text/plain
lib/src/mmdb/mattype_.cpp svneol=native#text/plain
lib/src/mmdb/mattype_.h svneol=native#text/plain
lib/src/mmdb/mmdb_align.cpp svneol=native#text/plain
lib/src/mmdb/mmdb_align.h svneol=native#text/plain
lib/src/mmdb/mmdb_atom.cpp svneol=native#text/plain
lib/src/mmdb/mmdb_atom.h svneol=native#text/plain
lib/src/mmdb/mmdb_bondmngr.cpp svneol=native#text/plain
lib/src/mmdb/mmdb_bondmngr.h svneol=native#text/plain
lib/src/mmdb/mmdb_chain.cpp svneol=native#text/plain
lib/src/mmdb/mmdb_chain.h svneol=native#text/plain
lib/src/mmdb/mmdb_cifdefs.cpp svneol=native#text/plain
lib/src/mmdb/mmdb_cifdefs.h svneol=native#text/plain
lib/src/mmdb/mmdb_coormngr.cpp svneol=native#text/plain
lib/src/mmdb/mmdb_coormngr.h svneol=native#text/plain
lib/src/mmdb/mmdb_cryst.cpp svneol=native#text/plain
lib/src/mmdb/mmdb_cryst.h svneol=native#text/plain
lib/src/mmdb/mmdb_defs.h svneol=native#text/plain
lib/src/mmdb/mmdb_ficif.cpp svneol=native#text/plain
lib/src/mmdb/mmdb_ficif.h svneol=native#text/plain
lib/src/mmdb/mmdb_file.cpp svneol=native#text/plain
lib/src/mmdb/mmdb_file.h svneol=native#text/plain
lib/src/mmdb/mmdb_graph.cpp svneol=native#text/plain
lib/src/mmdb/mmdb_graph.h svneol=native#text/plain
lib/src/mmdb/mmdb_manager.cpp svneol=native#text/plain
lib/src/mmdb/mmdb_manager.h svneol=native#text/plain
lib/src/mmdb/mmdb_mask.cpp svneol=native#text/plain
lib/src/mmdb/mmdb_mask.h svneol=native#text/plain
lib/src/mmdb/mmdb_mmcif.cpp svneol=native#text/plain
lib/src/mmdb/mmdb_mmcif.h svneol=native#text/plain
lib/src/mmdb/mmdb_model.cpp svneol=native#text/plain
lib/src/mmdb/mmdb_model.h svneol=native#text/plain
lib/src/mmdb/mmdb_python_wrap.cpp svneol=native#text/plain
lib/src/mmdb/mmdb_rwbrook.cpp svneol=native#text/plain
lib/src/mmdb/mmdb_rwbrook.h svneol=native#text/plain
lib/src/mmdb/mmdb_sbase.cpp svneol=native#text/plain
lib/src/mmdb/mmdb_sbase.h svneol=native#text/plain
lib/src/mmdb/mmdb_sbase0.cpp svneol=native#text/plain
lib/src/mmdb/mmdb_sbase0.h svneol=native#text/plain
lib/src/mmdb/mmdb_selmngr.cpp svneol=native#text/plain
lib/src/mmdb/mmdb_selmngr.h svneol=native#text/plain
lib/src/mmdb/mmdb_symop.cpp svneol=native#text/plain
lib/src/mmdb/mmdb_symop.h svneol=native#text/plain
lib/src/mmdb/mmdb_tables.cpp svneol=native#text/plain
lib/src/mmdb/mmdb_tables.h svneol=native#text/plain
lib/src/mmdb/mmdb_title.cpp svneol=native#text/plain
lib/src/mmdb/mmdb_title.h svneol=native#text/plain
lib/src/mmdb/mmdb_uddata.cpp svneol=native#text/plain
lib/src/mmdb/mmdb_uddata.h svneol=native#text/plain
lib/src/mmdb/mmdb_utils.cpp svneol=native#text/plain
lib/src/mmdb/mmdb_utils.h svneol=native#text/plain
lib/src/mmdb/mmdb_xml.cpp svneol=native#text/plain
lib/src/mmdb/mmdb_xml.h svneol=native#text/plain
lib/src/mmdb/random_n.cpp svneol=native#text/plain
lib/src/mmdb/random_n.h svneol=native#text/plain
lib/src/mmdb/stream_.cpp svneol=native#text/plain
lib/src/mmdb/stream_.h svneol=native#text/plain
lib/src/modlib.f -text
lib/src/overview.h svneol=native#text/plain
lib/src/pack_c.c svneol=native#text/plain
lib/src/pack_c.h svneol=native#text/plain
lib/src/parser.f -text
lib/src/rwbrook.f -text
lib/src/unix.m4 -text
