* text=auto !eol
/lgpl-3.0.txt svneol=native#text/plain
libccp4/COPYING -text
libccp4/COPYING.LESSER -text
libccp4/INSTALL -text
libccp4/Makefile.am -text
libccp4/Makefile.in -text
libccp4/aclocal.m4 -text
libccp4/build-aux/ar-lib -text
libccp4/build-aux/config.guess -text
libccp4/build-aux/config.sub -text
libccp4/build-aux/depcomp -text
libccp4/build-aux/install-sh -text
libccp4/build-aux/ltmain.sh -text
libccp4/build-aux/missing -text
libccp4/ccp4-config.cmake -text
libccp4/ccp4/ccp4_array.c -text
libccp4/ccp4/ccp4_array.h -text
libccp4/ccp4/ccp4_errno.h -text
libccp4/ccp4/ccp4_file_err.h -text
libccp4/ccp4/ccp4_fortran.h -text
libccp4/ccp4/ccp4_general.c -text
libccp4/ccp4/ccp4_general.h -text
libccp4/ccp4/ccp4_parser.c -text
libccp4/ccp4/ccp4_parser.h -text
libccp4/ccp4/ccp4_program.c -text
libccp4/ccp4/ccp4_program.h -text
libccp4/ccp4/ccp4_spg.h -text
libccp4/ccp4/ccp4_sysdep.h -text
libccp4/ccp4/ccp4_types.h -text
libccp4/ccp4/ccp4_unitcell.c -text
libccp4/ccp4/ccp4_unitcell.h -text
libccp4/ccp4/ccp4_utils.h -text
libccp4/ccp4/ccp4_vars.h -text
libccp4/ccp4/cmap_accessor.c -text
libccp4/ccp4/cmap_close.c -text
libccp4/ccp4/cmap_data.c -text
libccp4/ccp4/cmap_data.h -text
libccp4/ccp4/cmap_errno.h -text
libccp4/ccp4/cmap_header.c -text
libccp4/ccp4/cmap_header.h -text
libccp4/ccp4/cmap_labels.c -text
libccp4/ccp4/cmap_labels.h -text
libccp4/ccp4/cmap_open.c -text
libccp4/ccp4/cmap_skew.c -text
libccp4/ccp4/cmap_skew.h -text
libccp4/ccp4/cmap_stats.c -text
libccp4/ccp4/cmap_stats.h -text
libccp4/ccp4/cmap_symop.c -text
libccp4/ccp4/cmaplib.h -text
libccp4/ccp4/cmaplib_f.h -text
libccp4/ccp4/cmtzlib.c -text
libccp4/ccp4/cmtzlib.h -text
libccp4/ccp4/csymlib.c -text
libccp4/ccp4/csymlib.h -text
libccp4/ccp4/cvecmat.c -text
libccp4/ccp4/cvecmat.h -text
libccp4/ccp4/library_err.c -text
libccp4/ccp4/library_file.c -text
libccp4/ccp4/library_file.h -text
libccp4/ccp4/library_utils.c -text
libccp4/ccp4/mtzdata.h -text
libccp4/ccp4/overview.h -text
libccp4/ccp4/pack_c.c -text
libccp4/ccp4/pack_c.h -text
libccp4/ccp4/vmslibrary.c -text
libccp4/ccp4/w32mvs.c -text
libccp4/ccp4/w32mvs.h -text
libccp4/config.h.in -text
libccp4/configure -text
libccp4/configure.ac -text
libccp4/data/README -text
libccp4/data/atomsf.lib -text
libccp4/data/atomsf_neutron.lib -text
libccp4/data/font84.ascii -text
libccp4/data/fontpack.f -text
libccp4/data/fontunpack.for -text
libccp4/data/syminfo.lib -text
libccp4/data/symop.lib -text
libccp4/fortran/binsort.h -text
libccp4/fortran/binsortint.c -text
libccp4/fortran/ccp4_diskio_f.c -text
libccp4/fortran/ccp4_general_f.c -text
libccp4/fortran/ccp4_parser_f.c -text
libccp4/fortran/ccp4_unitcell_f.c -text
libccp4/fortran/ccplib.f -text
libccp4/fortran/cmaplib_f.c -text
libccp4/fortran/cmtzlib_f.c -text
libccp4/fortran/csymlib_f.c -text
libccp4/fortran/dna_header.fh -text
libccp4/fortran/dna_output.f -text
libccp4/fortran/fftlib.f -text
libccp4/fortran/keyparse.f -text
libccp4/fortran/lgglib.f -text
libccp4/fortran/libhtml.f -text
libccp4/fortran/library_f.c -text
libccp4/fortran/modlib.f -text
libccp4/fortran/mthlib.for -text
libccp4/fortran/pack_f.f -text
libccp4/fortran/parser.f -text
libccp4/fortran/plot84lib.f -text
libccp4/fortran/plotsubs.f -text
libccp4/fortran/pxxml.f -text
libccp4/fortran/rwbrook.f -text
libccp4/fortran/sorting_main.f -text
libccp4/fortran/testlib.f -text
libccp4/fortran/unix.m4 -text
libccp4/fortran/vms.for -text
libccp4/fortran/vmsdiskio.for -text
libccp4/fortran/w32mvs.f -text
libccp4/libccp4c.pc.in -text
libccp4/libccp4f.pc.in -text
libccp4/m4/libtool.m4 -text
libccp4/m4/ltoptions.m4 -text
libccp4/m4/ltsugar.m4 -text
libccp4/m4/ltversion.m4 -text
libccp4/m4/lt~obsolete.m4 -text
mmdb/hybrid_36.cpp -text
mmdb/hybrid_36.h -text
mmdb/mmdb_atom.cpp -text
mmdb/mmdb_atom.h -text
mmdb/mmdb_bondmngr.cpp -text
mmdb/mmdb_bondmngr.h -text
mmdb/mmdb_chain.cpp -text
mmdb/mmdb_chain.h -text
mmdb/mmdb_cifdefs.cpp -text
mmdb/mmdb_cifdefs.h -text
mmdb/mmdb_coormngr.cpp -text
mmdb/mmdb_coormngr.h -text
mmdb/mmdb_cryst.cpp -text
mmdb/mmdb_cryst.h -text
mmdb/mmdb_defs.h -text
mmdb/mmdb_ficif.cpp -text
mmdb/mmdb_ficif.h -text
mmdb/mmdb_io_file.cpp -text
mmdb/mmdb_io_file.h -text
mmdb/mmdb_io_stream.cpp -text
mmdb/mmdb_io_stream.h -text
mmdb/mmdb_machine_.cpp -text
mmdb/mmdb_machine_.h -text
mmdb/mmdb_manager.cpp -text
mmdb/mmdb_manager.h -text
mmdb/mmdb_mask.cpp -text
mmdb/mmdb_mask.h -text
mmdb/mmdb_math_.cpp -text
mmdb/mmdb_math_.h -text
mmdb/mmdb_math_align.cpp -text
mmdb/mmdb_math_align.h -text
mmdb/mmdb_math_bfgsmin.cpp -text
mmdb/mmdb_math_bfgsmin.h -text
mmdb/mmdb_math_fft.cpp -text
mmdb/mmdb_math_fft.h -text
mmdb/mmdb_math_graph.cpp -text
mmdb/mmdb_math_graph.h -text
mmdb/mmdb_math_linalg.cpp -text
mmdb/mmdb_math_linalg.h -text
mmdb/mmdb_math_rand.cpp -text
mmdb/mmdb_math_rand.h -text
mmdb/mmdb_mattype.cpp -text
mmdb/mmdb_mattype.h -text
mmdb/mmdb_mmcif_.cpp -text
mmdb/mmdb_mmcif_.h -text
mmdb/mmdb_model.cpp -text
mmdb/mmdb_model.h -text
mmdb/mmdb_root.cpp -text
mmdb/mmdb_root.h -text
mmdb/mmdb_rwbrook.cpp -text
mmdb/mmdb_rwbrook.h -text
mmdb/mmdb_selmngr.cpp -text
mmdb/mmdb_selmngr.h -text
mmdb/mmdb_seqsuperpose.cpp -text
mmdb/mmdb_seqsuperpose.h -text
mmdb/mmdb_symop.cpp -text
mmdb/mmdb_symop.h -text
mmdb/mmdb_tables.cpp -text
mmdb/mmdb_tables.h -text
mmdb/mmdb_title.cpp -text
mmdb/mmdb_title.h -text
mmdb/mmdb_uddata.cpp -text
mmdb/mmdb_uddata.h -text
mmdb/mmdb_utils.cpp -text
mmdb/mmdb_utils.h -text
mmdb/mmdb_xml_.cpp -text
mmdb/mmdb_xml_.h -text
ssm/ssm_align.cpp -text
ssm/ssm_align.h -text
ssm/ssm_csia.cpp -text
ssm/ssm_csia.h -text
ssm/ssm_defs.h -text
ssm/ssm_graph.cpp -text
ssm/ssm_graph.h -text
ssm/ssm_malign.cpp -text
ssm/ssm_malign.h -text
ssm/ssm_superpose.cpp -text
ssm/ssm_superpose.h -text
ssm/ssm_vxedge.cpp -text
ssm/ssm_vxedge.h -text
